<footer class="footer">
    <div class="footer__container">
        <nav class="footer__nav">
            <div class="nav__container-logo">
                <div class="nav__footer-logo">
                    <a href="/"><img src="https://i.postimg.cc/VvjYYV6R/Republic-Designs-Y2-K-Logo.png" class="footer-logo"></a>
                </div>
                <p class="footer-logo-text">FFELNA</p>
            </div>
            <div class="nav__text-links">
                <a class="text-links" href="#about">About Us</a>
                <a class="text-links" href="#types">Our company</a>
                <a class="text-links" href="/catalog">Store</a>
                <a class="text-links" href="#testimonials">Testimonials</a>
                <a class="text-links" href="#contact-us">Contact Us</a>
            </div>
            <div class="nav__social-links">
                <div class="footer__social-links">
                    <a href="https://uk-ua.facebook.com/">
                        <img class="social-link" src="https://cdn-icons-png.flaticon.com/512/733/733635.png" alt="facebook-icon">
                    </a>
                </div>
                <div class="footer__social-links">
                    <a href="https://www.instagram.com/">
                        <img class="social-link" src="https://w7.pngwing.com/pngs/772/115/png-transparent-computer-icons-telegram-logo-angle-white-triangle-thumbnail.png" alt="instagram-icon">
                    </a>
                </div>
                <div class="footer__social-links">
                    <a href="https://www.youtube.com/">
                        <img class="social-link" src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="youtube-icon">
                    </a>
                </div>
            </div>
            <div class="nav__created">
                <p class="created">© Created by ypk♡</p>
            </div>
        </nav>

    </div>
    <script src="/app.js"></script>
</footer>