<div class="backg">
  <form action="/add" method="POST">
    <div class="contact__form">
      <h1 class="addItem">Добавить Вещь</h1>
      <div class="contact-main__section">
        <input type="text" class="contact__inputs validate" name="title" id="title" placeholder="Enter item name*"
          required>

        <select name="category" class="contact__inputs validate" id="category" required>
          <option value="Hoodies">Hoodies</option>
          <option value="Anoraks">Anoraks</option>
          <option value="Pants">Pants</option>
          <option value="Sweatshirts">Sweatshirts</option>
          <option value="T-shirts">T-shirts</option>
          <option value="Tops">Tops</option>
        </select>

        <input type="number" name="price" class="contact__inputs validate" id="price" placeholder="Enter price*"
          required min="1">

        <input type="text" name="img" class="contact__inputs validate" id="img" placeholder="Enter URL*" required>
        <input type="text" name="img2" class="contact__inputs validate" id="img" placeholder="Enter URL*" required>
        <input type="text" name="img3" class="contact__inputs validate" id="img" placeholder="Enter URL*" required>

        <select  type="text" name="color" class="contact__inputs validate" id="color" placeholder="Enter color*" required>
          <option value="Red">Red</option>
          <option value="Blue">Blue</option>
          <option value="Black">Black</option>
          <option value="Yellow">Yellow</option>
          <option value="White">White</option>
          <option value="Green">Green</option>
        </select>

        <input name="mainDesc" id="mainDesc" class="contact__inputs validate" placeholder="Enter main description" required>
        
        <input name="property" id="property" class="contact__inputs validate" placeholder="Enter property" required>
        <input name="desc" id="desc" class="contact__inputs validate" placeholder="Enter desc" required>  

        <input type="text" name="sizes" class="contact__inputs validate" id="sizes" placeholder="Enter sizes*">
       
        <div class="inStock__div">
          <input type="checkbox" id="inStock" name="inStock" value="true">
          <label for="inStock">В наличии</label>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button class="btn btn-primary contact__btn contact-btn-send">Добавить вещь</button>
  </form>
</div>
</form>
</div>