{{!-- <h1 class="addItem">Добавить Вещь</h1>

<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Название вещи</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1">
    <label for="price">Цена вещи</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required>
    <label for="img">URL картинки</label>
    <span class="helper-text" data-error="Введите url картинки"></span>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button class="btn btn-primary">Добавить вещь</button>
</form> --}}
<div class="backg">
  <form action="/add" method="POST">
    <div class="contact__form">
      <h1 class="addItem">Добавить Вещь</h1>
      <div class="contact-main__section">
        <input type="text" class="contact__inputs validate" name="title" id="title" placeholder="Enter item name*"
          required>

        <select name="category" class="contact__inputs validate" id="category" name="user_profile_color_1" required>
          <option value="1">Pants</option>
          <option value="1">Hats</option>
          <option value="1">Синий</option>
          <option value="1">Синий</option>
        </select>

        <input type="number" name="price" class="contact__inputs validate" id="price" placeholder="Enter price*"
          required min="1">

        <input type="text" name="img" class="contact__inputs validate" id="img" placeholder="Enter URL*" required>

        <input type="text" name="color" class="contact__inputs validate" id="color" placeholder="Enter color*" required>

        <input type="text" name="desc" class="contact__inputs validate" id="desc" placeholder="Enter desc*" required>

        <input type="text" name="sizes" class="contact__inputs validate" id="sizes" placeholder="Enter sizes*" required>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button class="btn btn-primary contact__btn contact-btn-send">Добавить вещь</button>
  </form>
</div>
</form>
</div>