<div class="borders-cat">
    <div class="gallery">
        <a href="/catalog/Hoodies"><img src="https://i.postimg.cc/WtRgX3v3/hodies.jpg" alt="Photo 1"></a>
        <a href="/catalog/Anoraks"><img src="https://i.postimg.cc/RhJw7t2y/anoraks.jpg" alt="Photo 2"></a>
        <a href="/catalog/Pants"><img src="https://i.postimg.cc/3xTbwrvY/pants.jpg" alt="Photo 3"></a>
        <a href="/catalog/Sweatshirt"><img src="https://i.postimg.cc/NGKnJztq/sweatshirts.jpg" alt="Photo 4"></a>
        <img src="https://i.postimg.cc/pTCnKZ0s/seds.png" class="img-hide">
        <a href="/catalog/T-shirts"><img src="https://i.postimg.cc/vH9NMxD0/t-shirts.jpg" alt="Photo 5"></a>
        <a href="/catalog/Tops"><img src="https://i.postimg.cc/CM9QWsMZ/tops.jpg" alt="Photo 6"></a>
        <img src="https://i.postimg.cc/pTCnKZ0s/seds.png" class="img-hide">
    </div>
</div>