<section class="heading__theme"></section>


<section id="about" class="about">
    <div class="about__image">
        <img src="https://p16-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/00cd5f70160737bbdb0d45097579936a.jpeg" alt="About Image" />
    </div>
    <div class="about__info">
        <span class="subheader">О Нас</span>
        <h2 class="about__title">All Kinds of X-mas Decorations.</h2>
        <hr>
        <div class="about__text">
            <p>
                Christmas is the happiest holiday of the year! And many families start
                preparing for it in advance. From wreaths to garlands, we spend days
                and weeks in search of the best decorations. But you no longer need to
                visit dozens of shops.
            </p>
            <p>
                At Christmas Decorations Shop, we collect and sell everything
                connected with the festive season, from tree decorations to clothing
                and Christmas cards.
            </p>
        </div>
    </div>
</section>
    


<section class="main__faq">
    <div class="faq__image-container">
        <img class="faq-image" src="https://blog.aphrodite1994.com/wp-content/uploads/2018/08/10-1.jpg" alt="img">
    </div>
    <div class="faq__text">
        <div class="faq__text-header">
            <h2 class="section-heading">
                FAQ
            </h2>
            <h3 class="section-subheading faq-subheading">
                FFELNA QUESTIONS
            </h3>
            <div class="line__block">
                <div class="faq-line line"></div>
            </div>
            <p class="section-description">
                Below are the most popular questions from our clients.
            </p>
        </div>
        <div class="faq__text-accordion">
            <div class="accordion-container">
                <button class="accordion-label">
                    <span class="accordion-label-heading">What is raw honey?</span>
                    <svg class="faq-plus-icon" width="15" height="15" viewBox="0 0 18 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 17V9M9 9V1M9 9H17M9 9H1" stroke="#7A5D59" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <svg class="faq-minus-icon" width="15" height="2" viewBox="0 0 18 2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 1H1" stroke="#7A5D59" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </button>
                <div class="accordion-content">
                    <p class="accordion-description">Raw honey is honey as it is in the beehive. Raw honey is
                        made by extracting honey
                        from the honeycombs and separating it from impurities. It doesn't contain any hidden
                        sugars and is not pasteurized or processed.
                    </p>
                </div>
            </div>
            <div class="accordion-line">
                <hr class="faq-hr">
            </div>
            <div class="accordion-container">
                <button class="accordion-label">
                    <span class="accordion-label-heading">Can your honey cause allergies?</span>
                    <svg class="faq-plus-icon" width="15" height="15" viewBox="0 0 18 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 17V9M9 9V1M9 9H17M9 9H1" stroke="#7A5D59" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <svg class="faq-minus-icon" width="15" height="2" viewBox="0 0 18 2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 1H1" stroke="#7A5D59" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </button>
                <div class="accordion-content">
                    <p class="accordion-description">We sell pure organic honey but it can cause allergies,
                        indeed. Typical symptoms are
                        the same as common pollen allergy symptoms: runny nose, sneezing, and swelling.
                    </p>
                </div>
            </div>
            <div class="accordion-line">
                <hr class="faq-hr">
            </div>
            <div class="accordion-container">
                <button class="accordion-label">
                    <span class="accordion-label-heading">What payment options do you provide?</span>
                    <svg class="faq-plus-icon" width="15" height="15" viewBox="0 0 18 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 17V9M9 9V1M9 9H17M9 9H1" stroke="#7A5D59" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <svg class="faq-minus-icon" width="15" height="2" viewBox="0 0 18 2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 1H1" stroke="#7A5D59" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </button>
                <div class="accordion-content">
                    <p class="accordion-description">We accept Visa and MasterCard cards issued by any American
                        bank. You can also use
                        PayPal.
                    </p>
                </div>
            </div>
            <div class="accordion-line">
                <hr class="faq-hr">
            </div>
            <div class="accordion-container">
                <button class="accordion-label">
                    <span class="accordion-label-heading">Why does the assortment change sometimes?</span>
                    <svg class="faq-plus-icon" width="15" height="15" viewBox="0 0 18 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 17V9M9 9V1M9 9H17M9 9H1" stroke="#7A5D59" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <svg class="faq-minus-icon" width="15" height="2" viewBox="0 0 18 2" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 1H1" stroke="#7A5D59" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </button>
                <div class="accordion-content">
                    <p class="accordion-description">We bottle honey 3-4 times per year, according to the
                        harvest seasons. Our
                        capabilities are limited to around 3000 jars a year. Therefore, depending on the
                        season, there may be different honey in our assortment, and some products may be
                        temporarily unavailable.
                    </p>
                </div>
            </div>
            <div class="accordion-line">
                <hr class="faq-hr">
            </div>
        </div>
    </div>
</section>



<div class="numbers__conteiner">
    <div class="numbers">
        <h3 class="number">2574</h3>
        <div class="line__number"></div>
        <p class="text__number">Honey jars produced in 2020</p>
    </div>
    <div class="numbers">
        <h3 class="number">130</h3>
        <div class="line__number"></div>
        <p class="text__number">Customers every month</p>
    </div>
    <div class="numbers">
        <h3 class="number">12</h3>
        <div class="line__number"></div>
        <p class="text__number">Swaths in California</p>
    </div>
    <div class="numbers">
        <h3 class="number">3946</h3>
        <div class="line__number"></div>
        <p class="text__number">Bees working for you</p>
    </div>
</div>

<section id="contacts">
    <hr>
    <p class="mini-heading">Contacts</p>
    <h5 class="heading">We're Always in Touch</h5>
    <span class="heading-answer">Feel free to contact us if you need a consultation:</span>
    <section class="contacts-info">
        <h6 class="sub-heading">Address</h6>
        <p>303 E 61st St, New York, <br>
            NY 10065</p>
    </section>
    <section class="contacts-info">
        <h6 class="sub-heading">Hours</h6>
        <p>Monday - Saturday: 11 AM - 9 PM <br>
            Sunday: 11 AM - 7 PM</p>
    </section>
    <section class="contacts-info">
        <h6 class="sub-heading">Contacts</h6>
        <p>+1 (234) 567 89 00 <br>
            coffeespace@email.com</p>
    </section>
</section>