#main-image {
    transition: opacity 0.5s ease;
}

.category-name {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 30px 0px 30px 0px;
}

.products-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    justify-items: center;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 0px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    position: relative;
}

.product-image {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.product-image img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.product-image .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.product-image:hover img {
    transform: scale(1.1);
}

.product-image:hover .hover-image {
    opacity: 1;
}

.product-info {
    text-align: center;
    padding: 14px;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.product-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 0 0 10px;
}

.product-details {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.product-size {
    margin-right: 10px;
}

.product-price {
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .product {
        width: 90%;
        margin: 10px;
    }

    .product-image {
        width: 90%;
        text-align: center;
        margin-bottom: 10px;
    }

    .product-info {
        margin-top: 0px;
        width: 90%;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .product {
        width: 90%;
        margin-right: 4%;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .product {
        width: 100%;
        margin-right: 3%;
        margin-bottom: 15px;
    }

    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.products-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 20px;
}

.product {
    /* background-color: #fff; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    /* border-radius: 5px; */
    overflow: hidden;
}

.product-image {
    position: relative;
}

.product-image img {
    display: block;
    width: 100%;
    height: auto;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product:hover .hover-image {
    opacity: 1;
}

.product-details {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
}

.product-size {
    font-size: 16px;
}

.product-price {
    font-size: 21px;
    font-weight: bold;
}