.edit-course {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column-reverse;
}
.InStock-edit{
    font-weight: 700;
}
.edit-course h3 {
    padding-bottom: 5px;
}

.edit-course select {
    height: 40px;
}

.edit-img {
    max-width: 70%;
    padding-left: 30px;
    margin: auto;
    margin-bottom: 15px;
    display: block;
}

.edit-input {
    width: 250px;
}

.edit-course button {
    padding: 5px;
}

.inStock__div {
    margin: 15px 0px 0px 15px;
    font-family: var(--font-family);
    font-weight: 700;
}

@media (min-width: 768px) {
    .edit-course {
        display: flex;
        flex-direction: row-reverse;
    }
}