.edit-course {
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
}

.edit-img {
    max-width: 70%;
}

.edit-course button {
    padding: 5px;
}

.inStock__div {
    margin: 15px 0px 0px 15px;
    font-family: var(--font-family);
    font-weight: 700;
}