@import url(catalog.css);
@import url(navbar.css);
@import url(add.css);
@import url(catalog-prod.css);
@import url(item.css);
@import url(login.css);
@import url(footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
nav{
      background-color: #1c1c1b
}
/* .nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 2rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-form {
  margin-bottom: 2rem;
}

.auth {
  padding-top: 1rem;
}

.alert {
  padding: .5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(255, 0, 0, .3);
  color: red;
} */