
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.item-sizes {
    background-color: #e7e7e7 !important;
}

.item-solo {
    background-color: #e7e7e7;
}

.main-item {
    font-family: 'Oswald', sans-serif;
    padding: 15px;
    padding-bottom: 30px;
    flex-direction: column
}

.item-p {
    margin: 16px 0px 16px 0px;
}

.charac p {
    margin: 5px 5px 5px 0px;
}

.item-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.linia {
    background-color: #e6e4e4;
    max-width: 700px;
}

.item-image img {
    max-width: 100%;
    max-height: 670px;
}

.product-thumbnails {
    display: flex;
    justify-content: center;
}

.product-thumbnail {
    cursor: pointer;
    margin-right: 10px;
}

.product-thumbnail img {
    height: 50px;
}

.btn-div {
    padding-top: 50px;

}

.item-sizes a {
    margin-right: 13px;
}

.main-item {
    display: flex;
    margin: auto;
    max-width: 2000px;
    justify-content: center;
    padding-top: 50px;
}

.main-thumb {
    padding-bottom: 30px;
}

.item-image {
    flex: 1;
    overflow: hidden;
}

.item-image img {
    width: 100%;
    /* -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; */
}

/* .item-image img:hover {
    transform: scale(1.1);
} */

.item-details {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.size-text {
    color: #52505098;
    font-weight: 600;
    /* text-align: center; */
    font-size: 1rem;
    padding-bottom: 8px;
}

.item-title {
    font-size: 1.5rem;
    margin: 0 0 20px 0;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.item-price {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}

.product-inStock {
    font-size: 1.4rem;
    padding: 16px;
    max-width: 300px;
    background-color: #1c1c1b;
    color: lightgray;
    border: none;
    cursor: pointer;
}

.product-out-of-Stock {
    font-size: 1.4rem;
    padding: 16px;
    max-width: 300px;
    background-color: #1c1c1b;
    color: lightgray;
    border: none;
    cursor: pointer;
}

.product-add-to-cart:hover {
    background-color: #222;
}

.prod-sizes {
    border: 1px black solid;
    -webkit-tap-highlight-color: transparent;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    height: 46px;
    line-height: 46px;
    color: #000000;
    display: inline-block;
    position: relative;
    flex-basis: content;
    flex-grow: 1;
    width: auto;
    max-width: 80px;
    min-width: 60px;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 0 3px;
    background: #fffdfd;
    opacity: .3;
    pointer-events: none;
}

.tabs {
    color: gray;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6em;
    margin: 0;
    padding: 100px;
}




.made-with {
    background: #fd264f;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}

.documentation {
    color: #fd264f;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    padding: 30px 30px 30px 20px;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1.4px solid black;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2.2px solid black;
}

.tabs [class^="tab"] [type="radio"]:checked+div,
.tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
}

.tabs [class^="tab"] [type="radio"]+div,
.tabs [class*=" tab"] [type="radio"]+div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
    width: 50%;
}

.tabs .tab-2 [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked+div {
    margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"]+div {
    margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked+div {
    margin-left: -100%;
}

@media (min-width:767.5px) {
    .tabs {
        padding: 100px;
    }

    .main-item {
        flex-direction: inherit;
    }

    .item-details {
        padding-left: 30px;
    }
}