.lock {
    overflow: hidden;
}

.links__container {
    z-index: 5;
    padding-top: 5px;
}
.nav-header{
        list-style-type: none;
        
}
.card2 img{
    max-width: 50px;
}


.nav__container {
    max-width: 1800px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
    padding-bottom: 10px;
    /* margin-top: 10px; */


}

.nav__logo-container {
    display: inline-block;
    height: 56px;
    width: 174px;
    z-index: 10;
    margin: auto;
}

.nav__logo-container>a>img {
    height: 100%;
    width: 80%;
}

.background-darkened {
    background-color: var(--background-darkened);
}

.burger {
    z-index: 7;
    cursor: pointer;
    width: 24px;
    height: 26px;
    margin-right: 12px;

}

.burger span {
    border-bottom: 2px solid rgb(216, 216, 216);
    width: 24px;
    display: block;
    transition: all 0.5s;
}

.burger span:nth-child(1) {
    position: relative;
    top: 18px;
}

.burger span:nth-child(3) {
    position: relative;
    top: 6px;
}

.burger.active span:first-of-type {
    opacity: 0;
}

.burger.active span:nth-child(2) {
    transform: translate(0, 200%) rotate(-45deg);
}

.burger.active span:nth-child(3) {
    transform: translate(0, -200%) rotate(45deg);
}



.card-mobile {
    display: none;
}

.burg-card {
    display: flex;
}

@media (max-width:991.5px) {
    .card-mobile {
        display: block;
        z-index: 7;
    }

    .burger__links {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        background-color: var(--background-contact-color);
        padding-top: 95px;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

}

.burger__links-active {
    transform: translateX(0);
}

.header__text-links a {
    display: block;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    margin: 10px 5px;
}

.header__text-links a:hover {
    color: grey;
}

.header__social-links a {
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
}

.header__social-links a img {
    width: 25px;
    height: inherit;
}

@media (min-width:991.5px) {


    .links__container {
        z-index: 100;
        display: flex;
        align-items: center;
    }

    .header__text-links a {
        display: inline;
        margin-right: 15px;
    }

    .header__social-links a {
        margin-top: 5px;
    }

    .header__text-links {
        display: flex;
    }

    .burger {
        display: none;
    }

    .nav__logo-container img {
        padding-left: 0px;
        margin-left: 180px;
    }
}

.article__container {
    padding: 130px 24px;
}

@media (min-width:991.5px) {
    .article__container {
        padding: 250px 0 270px;
    }
}

.header__title {
    font-size: 56px;
    font-family: var(--font-header-title);
    color: var(--text-color);
}

@media (min-width:767.5px) {
    .header__title {
        font-size: 63px;
    }
}

@media (min-width:991.5px) {
    .header__title {
        font-size: 70px;
    }

    .nav__logo-container {
        padding-left: 0px;
    }
}

.header__title>span {
    color: var(--dot-color);
}

.header__subtitle {
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: 400;
    margin-top: 35px;
}

.header__btn {
    font-family: var(--font-family);
    margin-top: 50px;
    display: inline-block;
    color: var(--text-color);
    font-weight: 700;
}


:root {
    --font-header-title: 'Lato', sans-serif;
    --text-color: #fff;
    --secondary-font-color: #a9a9a9;
    --icons-color: #d1b997;
    --dot-color: rgb(209, 185, 151);
    --btn-color: rgb(209, 185, 151);
    --btn-color-hover: #bca788;
    --background-header-nav: rgba(0, 0, 0, 0.4);
    --background-darkened: rgba(0, 0, 0, 0.5);
    --main-background-color: #141414;
    --cards-background-color: #191919;
    --color-header-location: #a9a9a9;
    --background-contacts-header: #191919;
    --background-contact-color: #141414;
    --font-family: 'Source Sans Pro', sans-serif;
    --section__subheading-color: rgb(209, 185, 151);
    --grey-small-text-color: rgb(169, 169, 169);
    --text-color-white: #fff;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --main-white-color: rgb(255, 255, 255);
    --testimonials-swipe-btn: #d3d3d3;
    --testimonials-swipe-btn-hover: #ffffff;
    --testimonials-background-color: #141414;
    scroll-behavior: smooth;
}